// STAGE STYLES
.centered-container {
    padding:0px;
}
.stage-container {
    width:100%;
    h2 {
        padding:0px 30px;
        color:#C8AA6E;
    }
}
.stage-indicator {
    position:absolute;
    top:-5%;
    left:-5%;
    height:100vh;
    opacity:0.2;
    z-index: -2;
    img {
        height:100%;
        width:auto;
        visibility:hidden;
    }
    h3 {
        position:absolute;
        top:15%;
        left:30%;
        font-size:30em;
        -webkit-text-stroke: 1px #C8AA6E;
        color:black;
        margin:0px;
        background:transparent;
    }
}

.back-home {
    position:absolute;
    top:20px;
    right:30px;
}

.stage {
    position:absolute;
    top:20px;
    left:30px;
}
.box {
    position:absolute; 
    top:-150px;
    left:-150px;
    width:150px;
    height:325px;
    transform:rotate(45deg);
    z-index:-2;
}
.stage h3 {
    font-size:4em;
    -webkit-text-stroke: 1px #C8AA6E;
    color:black;
    margin:0px;
    background:transparent;
}

.champions-title {
    font-size:1.5em;
    line-height:50%;
    color:black;
    -webkit-text-stroke: 1px #C8AA6E;
    margin-bottom: 0px;
    font-weight:900;
}
.champions {
    background-color:black;
    box-sizing: border-box;
    padding:20px;
    overflow-x:scroll;
    white-space:nowrap;
    width:100%;
    border-top:1px solid #C8AA6E;
    border-bottom:1px solid #C8AA6E;
}

.champion {
    // margin-right:5px;
    p {
        padding-left:5px;
        margin:0px;
         color:#C8AA6E;
    }
}
.champion img {
    border: 3px solid transparent;
    height:80px;
    width:80px;
}
.champions img:hover {
    cursor: pointer;
}
.champions .active, .champions img:hover {
    border: 3px solid #C8AA6E;
}

// LOADING & SUCCESS/FAILURE INDICATORS
.loading {
    z-index:1000;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100vw;
    height:100vh;
    background-color:#000000;
    display:flex;
    justify-content:center;
    align-items:center;
}
.loading-bro {
    margin: 50px auto;
    width: 150px;

}

.answered-container {
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    justify-content:center;
    align-items:center;
    .answered-bg {
        position:absolute;
        background-color:black;
        opacity:0.9;
        top:0px;
        left:0px;
        width:100%;
        height:100%;
    }
    .popup {
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction:column;
        z-index:500;
        color:#C8AA6E;
        h1 {
            padding-top:15px;
            margin:0px;
        }
        .incorrect-answer { 
            p, h2 {
            margin:0px;
            }
            span {
                font-weight:bold;
            }
            // h2 {
            //     color:transparent;
            //     // -webkit-text-stroke: 1px #C8AA6E;
            // }
        }
    }
}
.unactive {
    display:none;
}
.answered {
    display:flex!important;
}

@media (min-width: 768px) {
    .stage h3 {
        font-size:8em;
    }
}

@media (min-width: 900px) {
    .stage {
        top:0px;
    }
    .box {
        position:absolute; 
        top:-150px;
        left:-150px;
        width:150px;
        height:500px;
        background-color:#C8AA6E;
    }
    .stage-container {
        padding:0px;
        max-width:800px;
    }
    .stage-container {
        h2 {
            padding:0px;
            font-weight:600;
            line-height:95%;
        }
        h4 {
            color: #C8AA6E;
            // text-decoration: underline;
            font-weight:500;
            font-style: italic;
        }
    }
    .champions-title {
        font-size:2.5em;
        line-height:100%;
        margin-bottom: -5px;
        // margin-left: 20px;
    }
    .champions {
        border:1px solid #C8AA6E;
        width:auto;
        white-space: wrap;
        overflow:hidden;
    }
    .champions img {
        height:120px;
        width:120px;
    }
}

@media (min-width:1600px) {
    .stage-indicator {
        h3 {
            font-size:51em;
        }
    }
}

#load {
    width: 150px;
    animation: loading 3s linear infinite;
    #loading-inner {
        stroke: {
        dashoffset: 0;
        dasharray: 300;
        width: 10;
        miterlimit: 10;
        linecap: round;
    }
    animation: loading-circle 2s linear infinite;
    stroke:
    #C8AA6E;
    fill: transparent;
    }
}

@keyframes loading {
    0% { 
  transform: rotate(0); 
}
    100% { 
  transform: rotate(360deg);
}
}
@keyframes loading-circle {
    0% { 
  stroke-dashoffset: 0
}
    100% { 
  stroke-dashoffset: -600;
}
}