<div class="centered-container">
    <div class="stage-container">

        <!-- STAGE INDICATOR -->
        <div class="stage">
            <h3>{{stage + 1}}.</h3>
        </div>

        <!-- STAGE CONTENT -->
        <div *ngIf="stage != (difficulty * 4)">
            <h2 [innerHTML]="currentChampion?.skill"></h2>

            <h3>Pick the correct champion</h3>
            <div class="champions">
                <div *ngFor="let champion of mainChampions.selected;" style="display:inline-block">
                    <img (click)="user.selected = champion.name" src="../assets/data/img/{{champion?.name}}.png"
                        [ngClass]="{ 'active': champion.name == user.selected }">
                </div>
            </div>
            <br>

            <button (click)="verify()" class="next btn-right" [ngClass]="{ 'disabled-btn': !user.selected }"
                [disabled]="!user.selected">NEXT<br>STAGE<br>
                <span>>></span></button>
        </div>

        <!-- STAGE COMPLETION -->
        <div *ngIf="stage == (difficulty * 4)">
            <h1>COMPLETED IT MATE</h1>
            <h2>{{score}} / {{difficulty * 4}}</h2>
            <br>
            <button routerLink="/">
                <!-- ADD RESETS TO SEPERATE FUNCTION -->
                <p>BACK TO HOME</p>
            </button>
        </div>

        <!-- SUCCESS ANIMATION -->
        <div class="answered-container unactive" [ngClass]="{'answered': answer === 'correct' }">
            <div class="answered-bg"></div>
            <div class="popup">
                <h1>CORRECT</h1>
            </div>
        </div>

        <!-- FAIL ANIMATION -->
        <div class="answered-container unactive" [ngClass]="{'answered': answer === 'false' }">
            #<div class="answered-bg"></div>
            <div class="popup">
                <h1>INCORRECT</h1>
                <p>The correct champion is:</p>
                <h2>{{currentChampion.name}}</h2>
            </div>
        </div>

        <!-- LOADING ANIMATION -->
        <div *ngIf="loading == true" class="loading">
            <div class="loading-bro">
                <svg id="load" x="0px" y="0px" viewBox="0 0 150 150">
                    <circle id="loading-inner" cx="75" cy="75" r="60" />
                </svg>
            </div>
        </div>



    </div>
</div>