.main {
    z-index:500;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#000000;
    margin-top:70px;
}

.bg-title {
    position:absolute;
    top:20px;
    left:40px;
    display:none;
    justify-content:center;
    align-items:center;
    margin:auto;
    width:100vw;
    height:100vh;
    z-index:-1;
    h1 {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
        margin:0px;
        line-height:85%;
        font-size:15vw;
        font-weight:900;
        -webkit-text-stroke: 2px #C8AA6E;
        color:transparent;
    }
    opacity: 0.15;
}

.roles button {
   width:33.3%;
   padding:20px 30px;
   border-left:3px solid transparent;
   border-right:3px solid transparent;
   border-top:2px solid transparent;
   border-bottom:2px solid transparent;
}
.roles button img {
    height:50px;
}
.roles button:hover, .main .selected {
   border-left:3px solid #C8AA6E;
   border-right:3px solid #C8AA6E;
   border-top:2px solid #C8AA6E;
   border-bottom:2px solid #C8AA6E;
}

.roles .selected {
    color:black;
    cursor: pointer;
}


.options {
  color: #C8AA6E;
  margin-top:10px;
  font-weight:600;
  input {
    background-color:black;
    border: 1px solid #C8AA6E;
  }
  label {
      margin-left:5px;
  }
}



@media (max-width: 768px) {
    .bg-title {
        display:flex;
        margin-bottom:40px;
        margin-top:-30px;
        position:relative;
        height:auto;
        width:auto;
        text-align:center;
        left:0px;
        h1 {
            font-size:3em;
        }
    }
}
@media (min-width:768px) {
    .main {
        border:1px solid #C8AA6E;
    }
    .main:hover, .selected-contain {
        border:1px solid #282216;
    }
    .roles button {
        width:auto;
    }
    .bg-title {
        display:flex;
    }
   
}
