.main {
    z-index:500;
    display:flex;
    align-items:center;
    justify-content:center;
    background-color:#000000;
}

.roles button {
    width:33.3%;
    padding:20px 30px;
    border-left:3px solid transparent;
   border-right:3px solid transparent;
   border-top:2px solid transparent;
   border-bottom:2px solid transparent;
}
.roles button img {
    height:50px;
}
.roles button:hover, .main .selected {
   border-left:3px solid #C8AA6E;
   border-right:3px solid #C8AA6E;
   border-top:2px solid #C8AA6E;
   border-bottom:2px solid #C8AA6E;
}

.roles .selected {
    color:black;
    cursor: pointer;
}

.options {
  margin-top:10px;
  input {
    background-color:black;
    border: 1px solid #C8AA6E;
  }
}


@media (max-width: 768px) {
    .bg-title {
        display:flex;
        margin-bottom:40px;
        margin-top:-30px;
        position:relative;
        height:auto;
        width:auto;
        text-align:center;
        left:0px;
        h1 {
            font-size:3em;
        }
    }
}
@media (min-width:768px) {
    .main {
        border:1px solid #C8AA6E;
    }
    .main:hover, .selected-contain {
        border:1px solid #282216;
    }
    .roles button {
        width:auto;
    }
}
