$opacity:0.3;
$border: 1px solid #C8AA6E;
$color: #C8AA6E;
$gutter: 30px;


// GLOBAL STYLES
body {
    padding:0px;
    margin:0px;
    background-color:black;
}

* {
    font-family: neue-haas-grotesk-display, sans-serif;
    // color:#C8AA6E;
}


header h1 {
    font-size:4em;
    -webkit-text-stroke: 1px #C8AA6E;
    color:black;
    margin:0px;
    line-height:97%;
}

h2 {
    font-size:1em;
    font-weight:900;
}

a {
    color:#C8AA6E;
    text-decoration:none;
    &:hover {
        border-bottom:2px solid;
    }
}


.display {
    display:none!important;
}


.logo {
    height: 100px;
    width:auto;
}

.logo-alt {
    z-index:600;
    position:absolute;
    top:30px;
    left:30px;
    &:hover {
        opacity:0.5;
    }
    // width:40%;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
 }

// Button styles
button {
    background:transparent;
    border:0px;
    &:focus {outline:none;}
    &:hover {cursor:pointer;}
}

.d-button {
    background-color:transparent;
    color:#C8AA6E;
    border:1px solid #C8AA6E;
    padding:10px 40px;
}

.btn-left {
    position:absolute;
    bottom:30px;
    left:30px;
}
.btn-right {
    position:absolute;
    bottom:30px;
    right:30px;
}
.disabled-btn {
    opacity:0.2;
    cursor: not-allowed;
    pointer-events: none;
}
.alt-btn {
    width:100%;
    background-color:#C8AA6E;
   p{
       color:black;
   }
}
.alt2-btn {
    width:48%;
    background-color:transparent;
    border:1px solid #C8AA6E;
   p {
       color:#C8AA6E;
   }
}

// NEXT STAGE/NEXT BUTTON
.next {
    line-height:95%;
    font-size:2em;
    text-transform: uppercase;
    border:0px;
    padding:0px;
    text-align:left;
    font-weight:900;
    color:#C8AA6E;
}
.next:hover {
    background-color:transparent;
    color:#C8AA6E;
}
.next:hover span {
    float:right;
}

.centered-container {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    // padding:20px;
    box-sizing:border-box;
    position: relative;
    overflow:hidden;
}


@media (min-width: 768px) {
    .next {
        line-height:95%;
        font-size:2.5em;
        border:0px;
        padding:0px;
        text-align:left;
    }
    h2 {
        font-size:2em;
    }
    h3 {
        font-size:2.5em;
    }
}

@media (min-width: 992px) {

}
