/* FONTS */
@font-face {
    font-family: Monument;
    src: url("/assets/fonts/MonumentGroteskTrial-Black.otf") format("OpenType");
    font-weight: bold;
    font-style: normal;
}
    
@font-face {
    font-family: Monument;
    src: url("/assets/fonts/MonumentGroteskTrial-Mono.otf") format("OpenType");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Monument;
}

// GLOBAL STYLES
body {

    padding:0px;
    margin:0px;
    background-color:black;
}

h1, h2, h3, h4, h5, p { 
    font-family: Monument;
    color:#C8AA6E;
}


header h1 {
    font-size:4em;
    -webkit-text-stroke: 1px #C8AA6E;
    color:black;
    margin:0px;
    line-height:97%;
}
h2 {
    font-size:2em;
}
h3 {
    font-size:2.5em;
    margin-bottom:0px;
    color:black;
    -webkit-text-stroke: 1px #C8AA6E;
    margin-bottom: -20px;
    margin-left: 20px;
    background-color: black;
}
a {
    color:#C8AA6E;
    text-decoration:none;
    &:hover {
        border-bottom:2px solid;
    }
} 

.logo {
    z-index:600;
    position:absolute;
    top:30px;
    left:30px;
    &:hover {
        opacity:0.5;
    }
    width:40%;
}


// Button styles
button {
    background:transparent;
    border:0px;
    &:focus {outline:none;}
    &:hover {cursor:pointer;}
}

.d-button {
    background-color:transparent;
    color:#C8AA6E;
    border:1px solid #C8AA6E;
    padding:10px 40px;
}

.btn-left {
    position:absolute;
    bottom:30px;
    left:30px;
}
.btn-right {
    position:absolute;
    bottom:30px;
    right:30px;
}
.disabled-btn {
    opacity:0.2;
    cursor: not-allowed;
    pointer-events: none;
}
.alt-btn {
    width:100%;
    background-color:#C8AA6E;
   p{
       color:black;
   }
}
.alt2-btn {
    width:48%;
    background-color:transparent;
    border:1px solid #C8AA6E;
   p {
       color:#C8AA6E;
   }
}

// NEXT STAGE/NEXT BUTTON
.next {
    line-height:95%;
    font-size:2em;
    text-transform: uppercase;
    border:0px;
    padding:0px;
    text-align:left;
    font-weight:bold;
    color:#C8AA6E;
}
.next:hover {
    background-color:transparent;
    color:#C8AA6E;
}
.next:hover span {
    float:right;
}

.bg-title { 
    position:absolute;
    top:20px;
    left:40px;
    display:none;
    justify-content:center;
    align-items:center;
    margin:auto;
    width:100vw;
    height:100vh;
    h1 { 
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Edge, Opera and Firefox */
        margin:0px;
        line-height:85%;
        font-size:15vw;
        -webkit-text-stroke: 1px #C8AA6E;
        color:transparent;
    }
    .opacity {
        opacity:0.2;
    }
}

.centered-container {
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:20px;
    box-sizing:border-box;
    position: relative;
    overflow:hidden;
}


@media (min-width: 768px) {
    .logo {
        width:auto;
    }
    .next {
        line-height:95%;
        font-size:3em;
        text-transform: uppercase;
        border:0px;
        padding:0px;
        text-align:left;
        font-weight:bold;
        color:#C8AA6E;
    }
    .bg-title { 
        display:flex;
    }
}

@media (min-width: 992px) {
    
}

