.home-container {
  top:0px;
  left:0px;
  z-index:2;
}

nav {
  width:100vw;
  margin-top:30px;
  display: flex;
  position: fixed;
  top:0px;
  left:0px;
}

.nav-section {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo-container {
  justify-content: center;
  flex: none;
  display:block;
  padding: 0px 15px;
}

.nav-section:first-child {
  justify-content: flex-end;
  span { margin-left: auto; }
}

.nav-section:last-child  {
  justify-content: flex-start;
  span { margin-right: auto;  }
}

ul {
    padding:0px;
    height:100%;
    display:flex;
    align-items:center;
    li {
        font-weight:600;
        color:#C8AA6E;
        display:inline-block;
        margin-right:20px;
    }
}

.scroll-nav {
  background: rgba(0, 0, 0, 0.7);
  z-index:1000;
  margin-top:0px;
  padding:15px 0px;
  .logo-container {
    display:none;
  }
}

.bg-image {
    position:fixed;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    background-image: url('/assets/ashe.png');
    background-size:cover;
    opacity:0.1;
    z-index:-2;
}

h2 span {
    background-color:#C8AA6E;
}

.menu-wrapper {
    flex-grow:1;
    display:flex;
    width:100%;
    margin-top:15%;
    padding-left:40px;
    position:relative;
    box-sizing:border-box;
}

.menu-container {
    display:flex;
}

.menu {
    // transform: perspective(400px) rotateY(-20deg) rotateX(15deg);
    .title { 
        color: #C8AA6E;
        padding-bottom:10px;
        border-bottom:1px solid #C8AA6E;
        width:40%;
        font-weight:600;
        font-size:1.5em;
    }
    display:flex;
    flex-direction: column;
    .menu-item {
        position:relative;
        display:block;
        background:transparent;
        border:0px;
        h2 {
            // text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
            font-size:3em;
            margin:0px;
            line-height:90%;
            text-align:left;
            text-transform: uppercase;
            -webkit-text-stroke: 1px #C8AA6E;
            color:transparent;
        }
    }
}

.itemHover {
    h2 {
        -webkit-text-stroke: 3px #C8AA6E!important;
    }
}

.itemSelected {
    h2 {
        color: #C8AA6E!important;
    }
    p {
        border-left:2px solid #C8AA6E;
        padding-left:10px;
        margin-top:5px;
        color: #C8AA6E!important;
        font-size:1.5em;
        max-width:50%;
        text-align:left;
    }
}

.start {
    position:fixed;
    bottom:30px;
    right:30px;
    z-index:3;
}

.scrollReveal {
    height: 50px;
    width:50px;
    border-radius:50%;
    bottom:30px;
    left:calc(50% - 25px);
    background: #C8AA6E;
    color:black;
    position:fixed;
    box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items:center;
}

.createdBy {
    padding:30px;
    color:#C8AA6E;
    margin-bottom:0px;
}

@media (min-width: 768px) {
    .menu {
        .menu-item {
            h2 {
                font-size:4em;
            }
    }

}
}

@media (min-width: 1200px) {
    .menu {
        .menu-item {
            h2 {
                font-size:14em;
            }
        }
    }
    // .logo-container {
    //     .logo {
    //         height:110px;
    //     }
    // }
    ul {
        li {
            font-size:1em;
        }
    }
    .start {
        font-size:3em;
    }
}

@media (min-width: 1500px) {
    // .logo-box {
    //     img {
    //         height:120px;
    //     }
    // }
    ul {
        li {
            font-size:1.1em;
        }
    }
}
