
<div (window:scroll)="onWindowScroll()">
  <div class="bg-image"></div>

    <nav [ngClass]="{'scrollNav': navScroll === true }">
      <div class="box">
        <ul>
            <li><a href="https://www.notion.so/Learn-League-How-it-works-e5758edb8aee433baba28fe6a2e563ed">HOW IT
                    WORKS</a></li>
            <li><a href="https://www.notion.so/Learn-League-The-Roadmap-e77641b970204192be6f7b4e96317ab5">WHAT IS LL?</a>
            </li>
        </ul>
      </div>
      <div class="box logo-box">
        <img src="../assets/logo.svg">
      </div>
      <div class="box">
        <ul>
          <li><a href="https://www.notion.so/Learn-League-FAQ-bc5000aae9ef4cf4b3d23563454e5931">FEEDBACK</a></li>
          <li><a href="https://www.notion.so/Learn-League-FAQ-bc5000aae9ef4cf4b3d23563454e5931">FAQ</a></li>
        </ul>
      </div>

        <!-- <ul>
            <li><a href="https://www.notion.so/Learn-League-How-it-works-e5758edb8aee433baba28fe6a2e563ed">HOW IT
                    WORKS</a></li>
            <li><a href="https://www.notion.so/Learn-League-The-Roadmap-e77641b970204192be6f7b4e96317ab5">WHAT IS LL?</a>
            </li>
            <img src="../assets/logo.svg">
            <li><a href="https://www.notion.so/Learn-League-FAQ-bc5000aae9ef4cf4b3d23563454e5931">FEEDBACK</a></li>
            <li><a href="https://www.notion.so/Learn-League-FAQ-bc5000aae9ef4cf4b3d23563454e5931">FAQ</a></li>
        </ul> -->
    </nav>

    <button (click)="verify()" class=" start d-button next btn-right"
        [ngClass]="{ 'disabled-btn': !selected || selected == 'tbd'}">
        START <br> LEARNING<br> <span>>></span>
    </button>
  
</div>

<div class="menu-wrapper">
    <div class="menu-container">
        <div class="menu">
            <button *ngFor="let item of data; let i = index" (mouseenter)="mouseEnter(i)"
                (mouseleave)="mouseLeave(i)" (click)="select(i)" class="menu-item"
                [ngClass]="{'itemHover': hoverStatus[i] === true && selected !== item.id, itemSelected: selected === item.id }">
                <h2>{{ item.id }}</h2>
                <!-- <p *ngIf="!item.status">coming soon</p> -->
            </button>
        </div>
    </div>
</div>

<div class="scrollReveal" [ngClass]="{'display': navScroll === true }">
  <span class="iconify" data-inline="false" data-icon="carbon:chevron-down" style="font-size: 32px;"></span>
</div>

<p class="createdBy">created by <a href="https://twitter.com/rynwstn"><b>@rynwstn</b></a></p>
