<header>
    <h1>LEAGUE SKILLS</h1>
</header>
<div class="main">
    <div class="roles">
        <button (click)="selectRole('top')" [ngClass]="{'selected': selected.role == 'top'}">Top</button>
        <button (click)="selectRole('jng')" [ngClass]="{'selected': selected.role == 'jng'}">Jungle</button>
        <button (click)="selectRole('mid')" [ngClass]="{'selected': selected.role == 'mid'}">Mid</button>
        <button (click)="selectRole('adc')" [ngClass]="{'selected': selected.role == 'adc'}">ADC</button>
        <button (click)="selectRole('sup')" [ngClass]="{'selected': selected.role == 'sup'}">Support</button>
        <br>
    </div>
    <div class="difficulty">
        <button (click)="selectDifficulty(2)" [ngClass]="{'selected': selected.difficulty == '2'}">Beginner</button>
        <button (click)="selectDifficulty(5)" [ngClass]="{'selected': selected.difficulty == '5'}">Intermediate</button>
        <button (click)="selectDifficulty(10)"
            [ngClass]="{'selected': selected.difficulty == '10'}">Experienced</button>
    </div>
    <br>
    <!-- <h4>Role: {{selected.role}}</h4>
        <h4>Difficulty: {{selected.difficulty}}</h4>
        <br> -->

    <button (click)="begin()"><b>BEGIN</b></button>
</div>