// COMPLETION SCREEN 
.completed-title {text-align:center;left:0px;top:0px;}
.completed {
    padding:40px;
    border:1px solid #C8AA6E;
    background-color: black;
    display:flex;
    justify-content: center;
    z-index:1000;
    align-items: center;
    flex-direction: column;
    h1 {
        font-size:4em;
        color:#C8AA6E;
        // color:transparent;
        // -webkit-text-stroke: 1px #C8AA6E;
        margin:0px;
    }
    .score {
        padding:3em 0em;
        h1 {
            font-size:4em;
            padding:1.5em 0.8em;
            -webkit-text-stroke: 1px #C8AA6E;
            color:transparent;
            border:1px solid #C8AA6E;
            border-radius:50%;
        }
    }
    // width:50%;
}

.share-container {
    // display:flex;
    // flex-direction:row;
    p {
        color:#C8AA6E;
        margin-bottom:0px;
    }
}
