<div class="centered-container">
    <a routerLink="/" href="/"><img class="logo" src="../assets/logo.svg"></a>
    <div class="bg-title completed-title">
        <!-- <h1>LEARN LEAGUE</h1> -->
        <h1 class="opacity">NEARLY THERE!</h1>
    </div>
    <div class="completed">

        <!-- <h1>{{score}} / {{questions}}</h1> -->

        <!-- <div class="pie p{{score}}"></div> -->
        <div class="wrapper" [style]="circlePercentage">
            <div class="percent">
                <!--     <svg viewBox="0 0 200 200" preserveAspectRatio="xMidYMin slice"> -->
                <svg>
                    <circle cx="50%" cy="50%" r="90"></circle>
                    <circle cx="50%" cy="50%" r="90"></circle>
                </svg>

            </div>
            }
        </div>

        <div class="share-container">
            <p>Share your results:</p>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">Twitter</a>
            <div class="spacer"></div>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Hello%20world">Facebook</a>
        </div>
    </div>

    <button routerLink="/setup" class="d-button next btn-right">
        PLAY <br> AGAIN<br> <span>>></span>
    </button>
</div>